#slider{
    background-image: url(../img/chicago.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 50%;
    position: relative;
    margin-top: 46px;
}
#slider .slider-text{
position: absolute;
color: #fff;
bottom: 30px;
text-align: center;
width: 100%;
text-shadow: 0 0 1px #000;
}
.slider-name{
font-weight: 300;
}
.slider-item{
    margin-top: 12px;
}



